html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet" href="/src/styles/css/App.css")
      link(rel='shortcut icon' type='image/png' href='/src/styles/img/premiumlogo/logo.png')
      link(href='https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&display=swap'
      rel='stylesheet')
      title Anime | #{title}
  body
    p Hi #{firstName},
    p There is your generated password - 
      span(style={color: 'white', padding: '.5rem 1rem', background: 'black'}) #{password}
    a.reset__password(href=`${url}`) Change your password now
    p If you do not want to change your password, please ignore this email!